@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

* {
    padding: 0px;
    margin: 0px;
    list-style: none;
    font-family: "Open Sans", sans-serif;
    font-size: 16px;
}

body {
    margin: 50px auto 0;
}

header {
    padding: 0 100px;
    display: grid;
    grid-template-columns: 1fr 2fr;
    align-content: center;
    margin: auto;
}

header ul {
    display: flex;
    justify-content: flex-end;
    column-gap: 50px;
}

header img {
    width: auto;
    height: 30px;
}

.section1,
.section2 {
    padding: 0 100px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-top: 50px;

    div,
    img {
        width: 500px;
    }

    .img {
        max-width: 300px;
        height: auto;
    }

    input {
        width: 280px;
        height: 40px;
        border: solid 1px hsl(238, 22%, 44%);
        border-radius: 2px;
        padding: 0 10px;
    }

    button {
        width: 150px;
        height: 40px;
        border-radius: 2px;
        border: none;
        background: hsl(224, 93%, 58%);
        color: hsl(0, 0%, 75%);

    }
}

.section2 {
    background-image: url('../images/bg-curve-desktop.svg');
    background-size: 300% 100%;
    background-position: center;
    padding-top: 100px;


    a {
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 10px;
        margin: 20px 0;

        img {
            width: 30px;
            height: 30px;
        }
    }

    .card {
        background: white;
        border-radius: 3px;
        width: 500px;
        margin: 30px 0;
        padding: 10px;
        box-shadow: 2px 3px 11px 8px hsl(0, 0%, 75%);
    }

    .quote {
        width: 20px;
        height: 20px;
    }

    .burton {
        width: 500px;
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 30px;
        margin: 20px 0;
    }

    .burton img {
        width: 60px;
        height: auto;
        border-radius: 50%;
    }
}

.section3 {
    padding: 100px;
    background-color: hsl(238, 22%, 44%);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    color: hsl(0, 0%, 75%);

    div,
    form {
        width: 45%;

    }


    input {
        padding: 0 10px;
        width: 500px;
        min-width: 300px;
        height: 30px;
        border-radius: 3px;
    }

    button {
        padding: 0 10px;
        width: 300px;
        height: 30px;
        border-radius: 3px;
        border: none;
        margin: 10px 0;
        border: none;
        background: hsl(224, 93%, 58%);


    }
}

footer {
    padding: 100px;
    background-color: hsl(243, 87%, 12%);
    color: hsl(0, 0%, 75%);
}

.menu {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 10px 0;
}

@media only screen and (max-width: 600px) {
    header {
        padding: 0 50px;
        display: grid;
        grid-template-columns: 1fr 2fr;
        align-content: center;
        margin: auto;
    }

    header ul {
        display: flex;
        justify-content: flex-end;
        column-gap: 20px;
    }

    header img {
        width: auto;
        height: 20px;
    }

    .section1,
    .section2 {
        padding:20px;
        display: flex;
        flex-direction: column-reverse;
        margin-top: 50px;
        gap: 2px;

        div,
        img {
            width: 300px;
        }
    }

    .section1 {

        .img {
            height: auto;
        }

        form {
            width: 300px;
            height: 40px;
            padding: 0;
            margin-top: 20px;

        }

        input {
            width: 100%;
            border: solid 1px hsl(238, 22%, 44%);
            border-radius: 2px;
            padding: 0 10px;
        }

        button {
            width: 320px;
            padding: 0 10px;
            margin-top: 10px;
        }

    }

    .section2 {
        background-image: url('../images/bg-curve-mobile.svg');
        background-size: 500% 100%;
        background-position: center;
        margin-top: 100px;
        padding-top: 50px;

        .card {

            width: 300px;

        }

    }

    .section3 {
        padding: 20px;
        display: flex;
        flex-direction: column;
        form {
            width: 300px;
            height: 40px;
            padding: 0;
            margin-top: 20px;

            input {
                width: 100%;
                padding: 0 10px;
            }

            button {
                width: 320px;
                padding: 0 10px;
                margin-top: 10px;
            }
        }
    }
    footer{
        padding: 20px;
        
    }
    .menu {
        width: 100%;
        display: flex;
        flex-direction: column;
        gap: 20px;
    }

}